spring:
  application:
    name: lingua-hub-backend
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  datasource:
    url: jdbc:postgresql://localhost:5432/lingua_hub
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

server:
  port: 8081



# JWT Configuration
jwt:
  secret: ${JWT_SECRET:7Fr56MkCSwF0UzHRkGW6CxDqJ7zg0Sq6MmbYRwPcaVa3LO51ltcaCsvlYNipKIEFUKAl9rMOnjdGd0vdCi_syqpGs7qGIQqgxLCFE_d1z6Qvpbagv_QEsG_OMKCrMZo3_LX47HKYUlBDfxzxhZpfo_yRiY6zJ4970hlBhLz9Uh6oz-iRZ4ADkkTaJOpTgB2IStIhVad1Jx8il8J1NQDyMMC0KCoc5DoXli2ihpTLN6VR6PVJxv1OR3RnfCgCUuxCD7CY6W1mKtYTWO1lrYSsE17r2dB8_pCq3tyjjXBSO4Wugvm1I0CHC9nZVMcKpLBLkHeQQqvDPGAfyv_61W1dINVKSL63MTBytSxil7-d7HSBEhwpyX88LAGWK86roc64ae7DXP9aEBrftYrj1v4ZvufcWEnh_BovlYBWPehi6kbIjE8t21j3CrMprES1cHhULy4bs7-V7KEDgtDee-X_13bKV-Vm4-vz5iC2CtdMvWEVyiyXew-VnGWj-fVhG5p2tzZ8nmGjjuNrq-0hmR8sxqOikPUDxjZ8ZVtBadbJBurs7IxG6ws5fSBCdBHKP4AFsiyLteKLUOIUobJkK1t-3Nn6rjlZJVuIfiN6XI5X7unC0xov86cPBcLqHz_kxXXFJUzkbqw-cvDIAV4QWdOloVn48T8C4_S9BTWer65h7Is}
  expiration: 86400000 # 24 hours in milliseconds
  refresh-expiration: 604800000 # 7 days

# LiveKit Configuration
livekit:
  api-key: ${LIVEKIT_API_KEY:APIEZCTfVKs3bGH}
  api-secret: ${LIVEKIT_API_SECRET:qzsYKTH3EkKjRflbDXjHpWxuQKsPLBXyuVfkgvKEkuD}
  url: ${LIVEKIT_URL:wss://easylearn-9lc2pn85.livekit.cloud}
  token-expiration: 14400 # 4 hours in seconds


# MinIO Configuration
#minio:
#  url: ${MINIO_URL:http://localhost:9000}
#  access-key: ${MINIO_ACCESS_KEY:minioadmin}
#  secret-key: ${MINIO_SECRET_KEY:minioadmin}
#  bucket-name: ${MINIO_BUCKET_NAME:lingua-recordings}

# CORS Configuration
cors:
  allowed-origins: ${CORS_ORIGINS:http://localhost:8080,http://localhost:8082}
  allowed-methods: GET,POST,PUT,DELETE,PATCH,OPTIONS
  allowed-headers: "*"
  allow-credentials: true

# Logging
logging:
  level:
    com.lingua.hub: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    tags-sorter: alpha
    operations-sorter: alpha
    display-request-duration: true
    doc-expansion: none
    default-models-expand-depth: 3
    default-model-expand-depth: 3
  show-actuator: false
